body {
    font-family: Arial, sans-serif; 
    
    background-color: white;
     background:linear-gradient(to right,rgb(175, 75, 75),rgb(48, 48, 168)) ;
    
  
  }
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 50px;
    background-color:white;
    border-radius: 10px;
    box-shadow:5px 2px 5px rgba(236, 231, 231, 0.861);

  }
  #taskInput{
    font-weight: bold;
    border-color: black;
  }
  h1 {
    text-align: center;
  }
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
  }
  button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: hsl(242, 52%, 63%);
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  }
  .delete-btn {
    float: right;
   
    color:white;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  